/* Created by: ZoiaB
* Created on: Apr 2023
* This CSS file defines the style for index.html
* ICS2O-Unit4-03-HTML-Movie
*/

body {
  color: #c88484;
  background-color: #bde5db;
}

h1 {
  color: #68926f;
  background-color: #debcf5;
}

h3 {
  color: #b38fcc;
}
